<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>
<body>
    <h1>Gallery</h1>
    <div class="gallery">
        {% for image in images %}
            <div class="gallery-item">
                <img src="{{ url_for('static', filename='image/' + image) }}" alt="{{ image }}" class="gallery-image">
                <p>{{ captions.get(image, 'No caption available') }}</p> <!-- Affichage de la légende -->
            </div>
        {% else %}
            <p>No images found.</p>
        {% endfor %}
    </div>

    <a href="/" class="button">Back to Home</a>
</body>
</html>







