<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Audio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style4.css') }}">
</head>
<body>
    <h1>Audio Gallery</h1>

    <h2>Original Audio</h2>
    <audio controls>
        <source src="{{ url_for('static', filename='audio/' + original_audio) }}" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>

    <h2>Modified Audio (Faster)</h2>
    <audio controls>
        <source src="{{ url_for('static', filename='audio/' + modified_audio) }}" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>

    <br>
    <a href="{{ url_for('upload_audio') }}">Upload Another Audio</a>

</body>
</html>

